<section id="about" class="pt-12 lg:pt-16 xl:pt-20">
  <div class="flex flex-col md:flex-row md:space-x-8 md:gap-6">
    <div class="w-full md:w-6/12 pt-8 md:pt-12 lg:pt-16 pb-8 md:pb-0">
      <h1 class="heading-1">Hi, I'm Chantal</h1>
      <p class="body-2 mt-5 xl:mt-8 2xl:mt-10">
        I am a passionate frontend developer and media designer with six years of professional experience.
        I have worked three years in an agency designing and coding websites for clients, conducting quality assurance, and providing customer support.
        For the past three years, I have been working as a Ruby on Rails frontend developer at sofatutor, where I conduct A/B tests for conversion rate optimization and collaborate closely with the design team.
      </p><br>
      <p class="body-2 mb-6 2xl:mb-8">
        I’m a dedicated frontend developer with a passion for creating seamless and accessible web experiences.
        Currently, I work at Sofatutor, where I focus on developing and maintaining web applications using Ruby on Rails.
        My role involves conducting A/B tests for conversion optimization and closely collaborating with the design team to enhance user experience and accessibility.
        I also enjoy mentoring new developers and organizing hackathons to foster creativity and teamwork within the company.
      </p>
    </div>
    <div class="w-full md:w-1/2 flex flex-col items-center mt-8 md:mt-0 md:ml-8">
      <img src="images/profile_image.jpg" alt="Beschreibung des Bildes" class="w-full h-auto object-cover">
      <ul class="mt-8 2xl:mt-12 flex gap-3 2xl:gap-4">
        <li class="w-4 h-4 lg:w-5 lg:h-5 2xl:w-6 2xl:h-6">
          <a href="https://www.linkedin.com/in/chantal-preissler-014873217/" title="Connect on LinkedIn" target="_blank" rel="noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2" viewBox="0 0 1067 1067" aria-label="LinkedIn icon">
              <path d="M984.948 0H81.655C38.42 0 3.356 34.227 3.356 76.411V990.28c0 42.16 35.064 76.387 78.299 76.387h903.293c43.299 0 78.363-34.246 78.363-76.387V76.411c0-42.205-35.083-76.411-78.363-76.411ZM324.635 892.938H164.542v-481.65h160.093v481.65ZM244.599 345.49h-1.072c-53.7 0-88.442-36.993-88.442-83.209 0-47.245 35.814-83.209 90.565-83.209 54.773 0 88.464 35.964 89.536 83.209 0 46.216-34.785 83.209-90.587 83.209Zm657.357 547.448H741.841V635.203c0-64.725-23.162-108.902-81.087-108.902-44.223 0-70.558 29.786-82.16 58.568-4.223 10.274-5.255 24.642-5.255 39.052v268.994H413.247s2.105-436.506 0-481.65h160.092v68.176c21.275-32.811 59.322-79.542 144.309-79.542 105.321 0 184.308 68.861 184.308 216.815v276.224Z" style="fill:#151313;fill-rule:nonzero"></path>
            </svg>
          </a>
        </li>
        <li class="w-4 h-4 lg:w-5 lg:h-5 2xl:w-6 2xl:h-6">
          <a href="https://github.com/chaprei" title="Check out my Github profile" target="_blank" rel="noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2" viewBox="0 0 1067 1067" aria-label="Github icon">
              <path d="M533.333.027C238.81.027 0 244.789 0 546.932c0 241.665 152.857 446.429 364.762 518.811 26.668 5 36.427-11.906 36.427-26.432 0-13.094-.474-47.379-.715-93.092-148.331 33.093-179.76-73.334-179.76-73.334-24.286-63.097-59.285-80.003-59.285-80.003-48.334-34.043 3.571-33.329 3.571-33.329 53.571 3.808 81.667 56.427 81.667 56.427 47.619 83.57 124.761 59.521 155.236 45.477 4.763-35.24 18.571-59.526 33.812-73.097-118.334-13.807-242.858-60.713-242.858-270.235 0-59.763 20.714-108.574 54.762-146.669-5.476-13.81-23.81-69.524 5.238-144.762 0 0 44.762-14.762 146.666 55.952 42.62-12.143 88.097-18.095 133.574-18.333 45.235.238 90.949 6.19 133.569 18.333 101.904-70.714 146.43-55.952 146.43-55.952 29.048 75.238 10.714 130.952 5.236 144.762 34.049 38.331 54.763 87.143 54.763 146.669 0 209.995-124.761 256.186-243.572 269.758 19.049 16.905 36.192 50.24 36.192 101.189 0 73.097-.715 132.145-.715 150.002 0 14.522 9.522 31.669 36.665 26.192 212.384-72.142 365.002-276.906 365.002-518.334C1066.667 244.789 827.859.027 533.333.027Z" style="fill:#151313"></path>
            </svg>
          </a>
        </li>
        <li class="w-4 h-4 lg:w-5 lg:h-5 2xl:w-6 2xl:h-6">
          <a href="https://instagram.com/" title="Follow me on Instagram" target="_blank" rel="noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2" viewBox="0 0 512 512" aria-label="Instagram icon">
              <path d="M500 400c0 54.858-45.142 100-100 100s-100-45.142-100-100 45.142-100 100-100c54.835.063 99.937 45.165 100 100Zm212.5-137.5v275c-.109 95.961-79.039 174.891-175 175h-275c-95.961-.109-174.891-79.039-175-175v-275c.109-95.961 79.039-174.891 175-175h275c95.961.109 174.891 79.039 175 175ZM550 400c0-82.288-67.712-150-150-150s-150 67.712-150 150 67.712 150 150 150c82.252-.093 149.907-67.748 150-150Zm50-162.5c0-20.572-16.928-37.5-37.5-37.5S525 216.928 525 237.5s16.928 37.5 37.5 37.5 37.5-16.928 37.5-37.5Z" style="fill-rule:nonzero" transform="translate(-71.152 -71.152) scale(.81788)"></path>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <section class="flex flex-col lg:flex-row gap-6 lg:gap-18 mt-12">
    <div class="w-full lg:w-1/2">
      <p class="body-2 mb-6 2xl:mb-8">
        I’m a dedicated frontend developer with a passion for creating seamless and accessible web experiences.
        Currently, I work at Sofatutor, where I focus on developing and maintaining web applications using Ruby on Rails.
        My role involves conducting A/B tests for conversion optimization and closely collaborating with the design team to enhance user experience and accessibility.
        I also enjoy mentoring new developers and organizing hackathons to foster creativity and teamwork within the company.
      </p>
      <p class="body-2 mb-6 2xl:mb-8">
        Living in Berlin, I find joy in music, concerts, dancing, and photography. I love spending time in nature, hiking, and unwinding from the hustle of city life.
        My interest in learning keeps me engaged with the latest technologies. Recently, I’ve been exploring Tailwind CSS and am keen to deepen my knowledge in frameworks like Angular, Vue, Svelte, React, and TypeScript.
      </p>
    </div>
    <div class="w-full lg:w-1/2">
      <p class="body-2 mb-6 2xl:mb-8">
        My passion for frontend development goes beyond coding. I am committed to creating inclusive and accessible web experiences that make a difference. In addition to my professional work,
        I engage in professional photography and advanced photo editing, blending my technical skills with my creative interests.
      </p>
      <p class="body-2 mb-6 2xl:mb-8">
        Prior to Sofatutor, I spent three years at a web development agency. There, I designed and coded websites for various clients, ensuring high-quality standards and providing ongoing client support.
        My experience also includes customer relations and project management, which have helped me understand the importance of communication and teamwork in delivering successful projects.
      </p>
    </div>
  </section>
</section>

