<section id="contact" class="pt-10 md:pt-16 xl:pt-20">
  <section class="flex flex-col border-t border-t-black mb-16">
    <div class="w-full pt-8 md:pt-12 lg:pt-16 xl:pt-24"><h1 class="heading-1">Let's get in touch!</h1></div>
    <div class="flex flex-col md:flex-row gap-6 md:gap-12 mt-5 md:mt-8 2xl:mt-10">
      <div class="w-full md:w-1/2">
        <p class="body-1">
          Need an experienced frontend developer to help out?<!-- -->
          <a class="underline" href="/contact/">Send me an email</a>
          <!-- -->to discuss your project.<br />
          <br />
          Alternatively connect with me elsewhere on the web →
        </p>
      </div>
      <div class="w-full md:w-1/2">
        <ul class="grid grid-cols-2 gap-y-3 xl:gap-y-6 gap-x-12">
          <li>
            <a class="group flex items-center" href="https://www.linkedin.com/" title="Connect on LinkedIn" target="_blank" rel="noreferrer">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xml:space="preserve"
                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2"
                viewBox="0 0 1067 1067"
                class="w-5 h-5"
                aria-label="LinkedIn icon"
              >
                <path
                  d="M984.948 0H81.655C38.42 0 3.356 34.227 3.356 76.411V990.28c0 42.16 35.064 76.387 78.299 76.387h903.293c43.299 0 78.363-34.246 78.363-76.387V76.411c0-42.205-35.083-76.411-78.363-76.411ZM324.635 892.938H164.542v-481.65h160.093v481.65ZM244.599 345.49h-1.072c-53.7 0-88.442-36.993-88.442-83.209 0-47.245 35.814-83.209 90.565-83.209 54.773 0 88.464 35.964 89.536 83.209 0 46.216-34.785 83.209-90.587 83.209Zm657.357 547.448H741.841V635.203c0-64.725-23.162-108.902-81.087-108.902-44.223 0-70.558 29.786-82.16 58.568-4.223 10.274-5.255 24.642-5.255 39.052v268.994H413.247s2.105-436.506 0-481.65h160.092v68.176c21.275-32.811 59.322-79.542 144.309-79.542 105.321 0 184.308 68.861 184.308 216.815v276.224Z"
                  style="fill:#151313;fill-rule:nonzero"
                ></path>
              </svg>
              <span class="group-hover:underline ml-4 body-1">LinkedIn</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</section>